<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.AnswerMapper">
	
<insert id="insertAnswer" parameterType="int">
    INSERT INTO review_tbl (answerContent, answerDate)
    VALUES (
      #{answerContent},
      NOW()
    )
   	WHERE reviewCode = #{reviewCode}
</insert>

   

</mapper>