<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.CartMapper">


	<select id="selectStoreInfo" resultType="StoreDTO"
		parameterType="int">
		SELECT store_tbl.*
		FROM menu_tbl
		JOIN store_tbl ON
		menu_tbl.storeCode = store_tbl.storeCode
		WHERE menu_tbl.menuCode =
		#{menuCode}

	</select>

	<select id="selectMenuInfo" resultType="MenuDTO"
		parameterType="int">
		SELECT *
		FROM menu_tbl
		WHERE menuCode =
		#{menuCode}
	</select>

	<select id="selectOrderInfo" resultType="OrderDTO">
		SELECT * FROM order_tbl
		WHERE orderNumber = #{orderNumber}
	</select>

	


</mapper>