<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.CartMapper">


	<select id="selectStore" resultType="StoreDTO"
		parameterType="String">
		SELECT store_tbl.storeName
		FROM menu_tbl
		JOIN store_tbl ON
		menu_tbl.storeCode = store_tbl.storeCode
		WHERE menu_tbl.menuCode =
		#{menuCode}

	</select>



</mapper>