<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.CartMapper">

	<!-- 고객 id 전달받으면 고객의 장바구니 정보 List로 반환 -->

	<select id="selectCart" resultType="CartDTO"
		parameterType="String">
		SELECT *
		FROM cart_tbl
		where userId =#{id}
	</select>

	<!-- 장바구니리스트를 넘기면 해당하는 상품에 대한 매장정보를 List로 반환 함 -->
	<select id="selectStore" resultType="StoreDTO"
		parameterType="java.util.List">
      <![CDATA[
          select *
          from  store_tbl
          where storeCode in
      ]]>
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item.storeCode}
		</foreach>
		order by storeCode desc
	</select>

	<!-- 장바구니리스트를 넘기면 해당하는 상품에 대한 메뉴정보를 List로 반환 함 -->
	<select id="selectMenu" resultType="MenuDTO"
		parameterType="java.util.List">
      <![CDATA[
          select *
          from  menu_tbl
          where menuCode in
      ]]>
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item.menuCode}
		</foreach>
		order by menuCode desc
	</select>


	

</mapper>