<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.HomeMapper">

    
<!-- 찜관련 -->
    
    <!-- 찜 조회 -->
    <select id="zzimSelectAll" resultType="ZzimDTO" parameterType="int">
        SELECT *
        FROM zzim_tbl
        WHERE userCode = #{userCode}
    </select>
    
     <!-- 찜 삭제 -->
	 <select id="zzimDelete" resultType="ZzimDTO" parameterType="int">
        DELETE FROM zzim_tbl 
		WHERE userCode = #{userCode} AND storeCode = #{storeCode} 
    </select>
    
 
 <!-- 주문내역 관련 -->
 	<!-- 주문내역 조회 -->
    <select id="orderSelectAll" resultType="OrderDTO" parameterType="int">
    	SELECT *
        FROM order_tbl
        WHERE userCode = #{userCode}
    </select>
    
    
</mapper>