<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.OptionMapper">
	
	


	<select id="selectOption" resultType="OptionDTO" parameterType="String">
		SELECT *
		FROM option_tbl
		where menuCode  = #{menuCode}
	</select>
  
<!--<insert id="insertStore" parameterType="StoreDTO">
		INSERT INTO store_tbl 
		(sellerCode, storeName, storeCategory, storeImage, storeAddress, storePhone, minOrderPrice, deliveryFee, deliveryArea)
		VALUES 
		(#{sellerCode}, #{storeName}, #{storeCategory}, #{storeImage}, #{storeAddress}, #{storePhone}, #{minOrderPrice}, #{deliveryFee}, #{deliveryArea})
	</insert>
	
	<delete id="deleteStore" parameterType="String"> 
        DELETE FROM store_tbl WHERE storeCode = #{storeCode} 
    </delete >   
    
   	<select id="updateSellerStore" resultType="StoreDTO" parameterType="String">
		SELECT *
		FROM store_tbl
		where storeCode = #{storeCode}
	</select>
	
    <update id="updateStore" parameterType="StoreDTO">
	    UPDATE store_tbl
	    SET
	        storeName = #{storeName},
	        storeCategory = #{storeCategory},
	        storeImage = #{storeImage},
	        storeAddress = #{storeAddress},
	        storePhone = #{storePhone},
	        minOrderPrice = #{minOrderPrice},
	        deliveryFee = #{deliveryFee},
	        deliveryArea = #{deliveryArea}
	    WHERE
	        storeCode = #{storeCode}
	</update> -->
     
	

</mapper>