<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.OptionMapper">
	
	

	<select id="userSelectOption" resultType="OptionDTO" parameterType="String">
		SELECT *
		FROM option_tbl
		where menuCode  = #{menuCode} and optionStatus = 0
	</select>

	<select id="selectOption" resultType="OptionDTO" parameterType="String">
		SELECT *
		FROM option_tbl
		where menuCode  = #{menuCode} and optionStatus != 2
	</select>
  
	<insert id="insertOption" parameterType="OptionDTO">
		INSERT INTO option_tbl 
		(menuCode,optionCategory, optionName, optionPrice, optionSelectType)
		VALUES 
		( #{menuCode}, #{optionCategory}, #{optionName}, #{optionPrice}, #{optionSelectType})
	</insert>
	
	<update id="deleteOption" parameterType="String">
	    UPDATE option_tbl SET optionStatus = 2 WHERE optionCode = #{optionCode}
	</update>  
    
	<update id="deleteOptionCategory" parameterType="OptionDTO">
	    UPDATE option_tbl SET optionStatus = 2 WHERE optionCategory = #{optionCategory}  AND menuCode= #{menuCode};
	</update>  
    
 	<select id="getCategoryAndSelectType" resultType="OptionDTO" parameterType="String">
		SELECT DISTINCT optionCategory, optionSelectType 
		from option_tbl 
		where menuCode = #{menuCode} and optionStatus != 2
	</select> 
	
    <update id="updateOption" parameterType="OptionDTO">
	    UPDATE option_tbl
	    SET
	        optionName = #{optionName},
	        optionPrice = #{optionPrice},
	        optionStatus = #{optionStatus}
	    WHERE
	        optionCode = #{optionCode}
	</update>
	
	    <update id="updateOptionCategory" parameterType="OptionDTO">
	    UPDATE option_tbl
	    SET
	        optionCategory = #{optionName}
	    WHERE
	        optionCategory = #{optionCategory} and
	        menuCode = #{menuCode}
	</update>
     
	

</mapper>