<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.ReviewMapper">

	<!-- 리뷰 조회 -->
	<select id="selectAllReview" resultType="ReviewDTO" parameterType="int">
		SELECT * FROM review_tbl where storeCode = #{storeCode}
	</select>
	
	<!-- 해당 가게의 리뷰 갯수 카운트 -->
	<select id="reviewCount" resultType="int" parameterType="int">
        SELECT COUNT(*) FROM review_tbl WHERE storeCode = #{storeCode}
    </select>
    
	<!-- 리뷰 등록 -->
	<insert id="insertReview" parameterType="ReviewDTO">
		INSERT INTO review_tbl (reviewRating, reviewContent, reviewDate)
		VALUES (#{reviewRating}, #{reviewContent}, NOW())
	</insert>
	
	<!-- 리뷰 삭제(상태만 변경) -->
	<update id="deleteReview" parameterType="int">
		UPDATE review_tbl
		SET reviewStatus = #{reviewStatus}
		FROM reviewCode = #{reviewCode}
	</update>
	
</mapper>
