<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.ReviewMapper">
    
    <insert id="insertReview" parameterType="com.acorn.baemin.domain.ReviewDTO">
        INSERT INTO reviews (menu_code, user_code, store_code, review_image, review_date, review_rating, review_content)
        VALUES (#{menuCode}, #{userCode}, #{storeCode}, #{reviewImage}, #{reviewDate}, #{reviewRating}, #{reviewContent})
    </insert>
    
</mapper>
