<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.SellerMapper">

	<!-- 메뉴 분류 조회(중복제거) -->
	<select id="selectMenuClassification" resultType="MenuDTO" parameterType="int">
		SELECT DISTINCT menuClassification FROM menu_tbl where storeCode = #{storeCode}
	</select>

	<!-- 메뉴 전체 조회 -->
	<select id="selectAllMenuInfo" resultType="MenuDTO" parameterType="int">
		SELECT * FROM menu_tbl where storeCode = #{storeCode}
	</select>
	
	<!-- 메뉴 조회 -->
	<select id="selectMenuInfo" resultType="MenuDTO" parameterType="String">
		SELECT * FROM menu_tbl where menuCode = #{menuCode}
	</select>
	
	<!-- 메뉴 분류 수정 -->
	<update id="updateMenuClassification" parameterType="MenuDTO">
		UPDATE menu_tbl
		SET menuClassification = #{newMenuClassification}
		WHERE menuClassification = #{menuClassification} and storeCode = #{storeCode};
	</update>
	
	<!-- 메뉴 등록 -->
	<insert id="insertMenu" parameterType="MenuDTO">
		INSERT INTO menu_tbl
		(storeCode, menuName, menuPrice, menuImage, menuContent, menuClassification, menuStatus)
		VALUES
		(#{storeCode},#{menuName},#{menuPrice},#{menuImage},#{menuContent},#{menuClassification},#{menuStatus});
	</insert>
	
	<!-- 메뉴 수정 -->
	<update id="updateMenu" parameterType="MenuDTO">
		UPDATE menu_tbl
		SET menuName = #{menuName},
		menuPrice = #{menuPrice},
		menuImage = #{menuImage},
		menuContent = #{menuContent},
		menuStatus = #{menuStatus}
		WHERE menuCode = #{menuCode}
	</update>
	
	<!-- 메뉴 삭제(상태만 변경) -->
	<update id="deleteMenu" parameterType="int">
		UPDATE menu_tbl 
		SET menuStatus = 2
		WHERE menuCode=#{menuCode}
	</update>
	
	<!-- 매장정보 조회 -->
	<select id="selectStoreInfo" resultType="StoreDTO" parameterType="int">
		SELECT * FROM store_tbl WHERE storeCode=#{storeCode}
	</select>
	
	<!-- 사장님정보 조회 -->
	<select id="selectSellerInfo" resultType="SellerDTO" parameterType="int">
		SELECT * FROM seller_tbl WHERE sellerCode=#{sellerCode}
	</select>
	
	<!-- 매장정보 일부수정 -->
	<update id="updateStoreSubInfo" parameterType="StoreDTO">
		UPDATE store_tbl
		SET storeDescription = #{storeDescription},
		operatingTime = #{operatingTime},
		storeAddress = #{storeAddress}
		WHERE storeCode = #{storeCode}
	</update>
	

</mapper>