<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.baemin.UserOrderMapper">

	<select id="getUserByCode" resultType="UserDTO">
		SELECT * FROM user_tbl
		WHERE userCode = #{userCode}
	</select>

	<insert id="insertOrder" parameterType="OrderDTO">
        INSERT INTO order_tbl (userCode, storeCode, orderMenuName, orderMenuNumber,
        orderMenuPrice, orderStoreName, orderStoreImage, orderDate, payType, orderType,
        reqToSeller, reqToRider, orderStatus, optionsInfo, deliveryFee,
        deliveryAddress, userPhone)
        VALUES (#{userCode}, #{storeCode}, #{orderMenuName}, #{orderMenuNumber},
        #{totalPrice}, #{orderStoreName}, #{orderStoreImage}, #{orderDate},
        #{payType}, #{orderType}, #{reqToSeller}, #{reqToRider}, #{orderStatus},
        #{optionsInfo}, #{deliveryFee}, #{deliveryAddress}, #{userPhone});
    </insert>



</mapper>