<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="StoreDTO"
			type="com.acorn.baemin.domain.StoreDTO" />
		<typeAlias alias="UserDTO"
			type="com.acorn.baemin.domain.UserDTO" />
		<typeAlias alias="ZzimDTO"
			type="com.acorn.baemin.domain.ZzimDTO" />
		<typeAlias alias="OrderDTO"
			type="com.acorn.baemin.domain.OrderDTO" />
		<typeAlias alias="CartDTO"
			type="com.acorn.baemin.domain.CartDTO" />
		<typeAlias alias="MenuDTO"
			type="com.acorn.baemin.domain.MenuDTO" />
			
	</typeAliases>
</configuration>