result +='<div class="store-plus-info"><span>음식카테고리</span><select id="storeCategory">';
result +='<option value="'+d.storeCategory+'">'+d.storeCategory+'</option><option value="치킨">치킨</option><option value="피자">피자</option>':
result +='<option value="햄버거">햄버거</option><option value="족발,보쌈">족발,보쌈</option><option value="한식">한식</option>':
result +='<option value="중식">중식</option><option value="일식">일식</option><option value="양식">양식</option>':
result +='<option value="분식">분식</option><option value="디저트">디저트</option><option value="야식">야식</option></select></div>':