<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserDTO"
			type="com.acorn.baemin.domain.UserDTO" />
		<typeAlias alias="SellerDTO"
			type="com.acorn.baemin.domain.SellerDTO" />
		<typeAlias alias="StoreDTO"
			type="com.acorn.baemin.domain.StoreDTO" />
		<typeAlias alias="MenuDTO"
			type="com.acorn.baemin.domain.MenuDTO" />
		<typeAlias alias="OptionDTO"
			type="com.acorn.baemin.domain.OptionDTO" />
		<typeAlias alias="CartDTO"
			type="com.acorn.baemin.domain.CartDTO" />
		<typeAlias alias="OrderDTO"
			type="com.acorn.baemin.domain.OrderDTO" />
		<typeAlias alias="ZzimDTO"
			type="com.acorn.baemin.domain.ZzimDTO" />
		<typeAlias alias="ReviewDTO"
			type="com.acorn.baemin.domain.ReviewDTO" />
		<typeAlias alias="AnswerDTO"
			type="com.acorn.baemin.domain.AnswerDTO" />
		<typeAlias alias="AddressDTO"
			type="com.acorn.baemin.domain.AddressDTO" />
		<typeAlias alias="ZzimStoreDTO"
			type="com.acorn.baemin.domain.ZzimStoreDTO" />
		<typeAlias alias="CartInfoDTO"
			type="com.acorn.baemin.cart.domain.CartInfoDTO" />
			<typeAlias alias="KakaoOrderDTO"
			type="com.acorn.baemin.order.domain.KakaoOrderDTO" />



	</typeAliases>
</configuration>

